.admin-panel td {
    >input {
        border-color: transparent;
        background-color: transparent;
        padding: 5px;
    }
    &:hover {
        >input {
            border: inherit;
            background-color: #fff;
        }
    }
}