<div class="panel panel-primary" ng-controller="adminCtrl">
    <div class="panel-heading">
        <h2 class="text-center panel-header">Страница администратора</h2>
    </div>
    <div class="panel-body admin-panel">
        <table class="table table-bordered table-hover">
            <tbody>
                <tr class="info">
                    <th>Имя</th>
                    <th>Логин</th>
                    <th>Пароль</th>
                    <th>Доступ</th>
                    <th>Редактировать/удалить</th>
                </tr>
                <tr ng-repeat="item in items">
                    <td>
                        <input type="text" ng-model="item.name" ng-click="editTr(items, item)" ng-disabled="item.login=='admin'">
                    </td>
                    <td>
                        <input type="text" ng-model="item.login" ng-click="editTr(items, item)" ng-disabled="item.login=='admin'">
                    </td>
                    <td>
                        <input type="text" ng-model="item.passward" ng-click="editTr(items, item)" ng-disabled="item.login=='admin'">
                    </td>
                    <td>
                        <input type="checkbox" ng-model="item.admission" ng-click="editTr(items, item)" ng-disabled="item.login=='admin'">
                    </td>
                    <td>
                        <button class="btn btn-success" ng-if="item.login!='admin'" ng-disabled="!item.edit">Сохранить</button>
                        <button class="btn btn-danger pull-right" ng-if="item.login!='admin'" ng-disabled="!item.edit" ng-click="delete(item)">Удалить</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="pull-right">
            <button class="btn btn-success" ng-click="addNewManager()">Добавить менеджера</button>
            <button class="btn btn-primary" ng-click="backToStartPage()">Выйти</button>
        </div>
    </div>
</div>