<div class="panel panel-primary" ng-controller="managerCtrl">
    <div class="panel-heading">
        <h2 class="text-center" ng-hide="newClient>1">Менеджер {{current.member.name}}</h2>
        <table class="table" ng-show="newClient>1">
            <caption class="manager"><span class="clientTb">Исходные данные туриста:</span>
            </caption>
            <tr>
                <td>Имя: <span class="clientTb">{{client.firstName}}</span>
                </td>
                <td>Фамилия: <span class="clientTb">{{client.lastName}}</span>
                </td>
                <td>Пол: <span class="clientTb">{{client.gender}}</span>
                </td>
                <td>Страна: <span class="clientTb">{{client.country}}</span>
                </td>
            </tr>
        </table>
    </div>
    <div class="panel-body bodyHeight">
        <div class="container-fluid" ng-hide="newClient">
            <div class="row">
                <div class="col-xs-6">
                    <button class="btn-block btn-primary btn-lg" ng-click="newStep()">Новый турист</button>
                </div>
                <div class="col-xs-6">
                    <button class="btn-block btn-success btn-lg" ng-click="listOfTourists()">Список туристов</button>
                </div>
            </div>
        </div>
        <div class="container-fluid" ng-show="newClient">
            <div class="row startData">
                <form name="clForm" ng-hide="newClient!=1">
                    <div class="col-lg-12">
                        <p class="text-center">
                            Введите исходные данные туриста:
                        </p>
                    </div>
                    <div class="col-lg-5">
                        <div class="row">
                            <label class="control-label col-lg-2">Имя:</label>
                            <div class="col-lg-4">
                                <input type="text" ng-model="client.firstName" ng-pattern="/^[а-яА-Я]+$/" name="clFName">
                                <span ng-show="clForm.clFName.$error.pattern" style="color:crimson">Возможна только КИРИЛЛИЦА!</span>
                            </div>

                            <label class="control-label col-lg-2">Фамилия:</label>
                            <div class="col-lg-4">
                                <input type="text" ng-model="client.lastName" ng-pattern="/^[а-яА-Я]+$/" name="clLName">
                                <span ng-show="clForm.clLName.$error.pattern" style="color:crimson">Возможна только КИРИЛЛИЦА!</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="row">
                            <div class="col-lg-2 text">
                                <span class="text-right fw-bold">Пол:</span>
                            </div>
                            <div class="col-lg-5">
                                <label class="radio-inline fw-bold">
                                    <input type="radio" ng-model="client.gender" name="clientGender" value="мужчина">мужчина
                                </label>
                            </div>
                            <div class="col-lg-5">
                                <label class="radio-inline fw-bold">
                                    <input type="radio" ng-model="client.gender" name="clientGender" value="женщина">женщина
                                </label>
                            </div>
                        </div>
                    </div>
                    <label class="control-label col-lg-1">Страна:</label>
                    <div class="col-lg-2">
                        <select ng-model="selected" ng-options="item.name for item in countries" ng-hide="invis" ng-change="toSelect()"></select>
                        <input type="text" ng-model="client.country" ng-show="invis" placeholder="Название страны" ng-pattern="/^[а-яА-Я]+$/" name="clCountry" ng-change="toInp()">
                        <span ng-show="clForm.clCountry.$error.pattern" style="color:crimson">Возможна только КИРИЛЛИЦА!</span>
                    </div>
                </form>

            </div>
            <!--////////////////////////////////////////////////////////////////////////////////////////////////////////-->
            <div ng-show="newClient==2">
                <div ng-hide="comf">
                    <p>Здравствуйте, <span class="client">{{client.firstName}}</span>!</p>
                    <p>Меня зовут {{current.member.firstName}}. Я менеджер агентства БЮРО ПУТЕШЕСТВИЙ. Вам удобно сейчас разговаривать?</p>
                </div>
                <div class="row" ng-hide="comf">
                    <div class="col-sm-4 col-sm-offset-1">
                        <button class="btn-lg btn-primary btn-block" ng-click="comfort(1)">
                            ЕСЛИ УДОБНО
                        </button>
                    </div>
                    <div class="col-sm-4 col-sm-offset-2">
                        <button class="btn-lg btn-warning btn-block" ng-click="comfort(2)">
                            ЕСЛИ НЕУДОБНО
                        </button>
                    </div>
                </div>
                <div class="row" ng-show="comf==2">
                    <div class="col-sm-12">
                        <p>
                            Вам будет удобно, если я наберу Вас через час?
                        </p>
                    </div>
                    <div class="col-sm-4 col-sm-offset-1">
                        <button class="btn-lg btn-primary btn-block" ng-click="comfort(3)">
                            ЕСЛИ УДОБНО
                        </button>
                    </div>
                    <div class="col-sm-4 col-sm-offset-2">
                        <button class="btn-lg btn-warning btn-block" ng-click="comfort(4)">
                            ЕСЛИ НЕУДОБНО
                        </button>
                    </div>
                </div>
                <div class="row" ng-show="comf==4">
                    <div class="col-sm-12">
                        <p>
                            Когда Вам удобно, чтобы я Вас набрала?
                        </p>
                    </div>
                    <div class="col-sm-4 col-sm-offset-4">
                        <div class="input-group">
                            <input type="text" ng-model="client.wishDateCall" placeholder="когда набрать" style="width:100%;font-size: 30px">
                            <div class="input-group-btn">
                                <button class="btn-lg btn-primary" ng-disabled="!client.wishDateCall" ng-click="comfort(5)">Далее</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" ng-show="comf==5">
                    <div class="col-xs-12">
                        <p>
                            ОК, <span class="client">{{client.firstName}}</span>! Наберу Вас {{client.wishDateCall}}.
                            <br>Хорошего дня!
                        </p>
                    </div>
                </div>
                <div class="row" ng-show="comf==3">
                    <div class="col-xs-12">
                        <p>
                            Хорошо, <span class="client">{{client.firstName}}</span>! Наберу Вас через час.
                        </p>
                    </div>
                </div>
                <div ng-show="comf==1">
                    <p>
                        Отлично, <span class="client">{{client.firstName}}</span>!
                    </p>
                    <p>Вы интересовались подбором тура в <span class="client">{{client.country}}</span>. Расскажите, пожалуйста, что Вы ожидаете от отдыха?</p>
                    <div class="row startData">
                        <div class="col-xs-10 col-xs-offset-1">
                            <textarea cols="140" rows="4" placeholder="Даем клиенту высказаться (КАК МОЖНО ПОЛНЕЕ!), внимательно слушаем и вносим сюда его пожелания" ng-model="client.wishes">
                            </textarea>
                        </div>
                    </div>

                </div>
                <div ng-show="comf==1">
                    <p>
                        Скажите, Вы уже отдыхали в <span class="client">{{client.country}}</span>?
                    </p>
                    <p class="text-center">
                        <label class="radio-inline">
                            <input type="radio" ng-model="client.countryErVis" name="clientCountyEarlyVisit" value="Да" ng-change="client.endTalkRequirements()">Да
                        </label>
                        <label class="radio-inline">
                            <input type="radio" ng-model="client.countryErVis" name="clientCountyEarlyVisit" value="Нет" ng-change="client.endTalkRequirements()">Нет
                        </label>
                    </p>
                    <hr ng-if="client.countryErVis">
                    <div ng-if="client.countryErVis=='Да'">
                        <p>В каких отелях были?</p>
                        <div class="row startData">
                            <div class="col-xs-10 col-xs-offset-1">
                                <textarea cols="140" rows="3" placeholder="Отели, ранее посещенные туристом" ng-model="client.earlyHotels">
                                </textarea>
                            </div>
                        </div>
                        <hr>
                        <p>Что понравилось?</p>
                        <div class="row startData">
                            <div class="col-xs-10 col-xs-offset-1">
                                <textarea cols="140" rows="3" placeholder="Что понравилось в ранее посещенных отелях" ng-model="client.earlyHotelsPlus">
                                </textarea>
                            </div>
                        </div>
                        <hr>
                        <p>Что не понравилось?</p>
                        <div class="row startData">
                            <div class="col-xs-10 col-xs-offset-1">
                                <textarea cols="140" rows="3" placeholder="Что НЕ понравилось в ранее посещенных отелях" ng-model="client.earlyHotelsMinus">
                                </textarea>
                            </div>
                        </div>
                        <hr>
                    </div>
                    <div ng-if="client.countryErVis=='Нет'">
                        <p>
                            А в каких странах были (отдыхали)?
                        </p>
                        <p>
                            <label class="radio-inline">
                                <input type="radio" ng-model="client.countryVisited" name="clientCountyVisitedEarly" ng-change="client.changeCountryVisited()" ng-value=false>Ни в каких
                            </label>
                            <label class="radio-inline">
                                <input type="radio" ng-model="client.countryVisited" name="clientCountyVisitedEarly" ng-value=true>Выбрать
                            </label>
                        </p>
                        <hr ng-if="client.countryVisited">
                        <div class="row" ng-if="client.countryVisited">
                            <div class="col-sm-2 col-sm-offset-1">
                                <select size="7" multiple ng-change="toSelectCountries()" name="countries[]" ng-model="client.selectCountries" ng-options="item.name for item in countries">
                                </select>
                            </div>
                            <div class="col-xs-5">
                                <p class="text-info">
                                    Чтобы выбрать (или удалить из выбранных),- кликайте по странам с зажатой клавишей
                                    <button type="button" class="btn btn-default">Ctrl</button>.
                                    <br>Результат выбора можете посмотреть в блоке справа &rarr;
                                </p>
                            </div>
                            <div class="col-xs-2">
                                <ol>
                                    <li ng-repeat="x in client.earlyCountries">{{x}}</li>
                                </ol>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <hr ng-if="client.earlyCountries.length">
                        <div ng-if="client.earlyCountries.length">
                            <p>В каких отелях останавливались? Что понравилось? Что не понравилось?</p>
                            <div class="row startData">
                                <div class="col-xs-10 col-xs-offset-1">
                                    <textarea cols="140" rows="3" placeholder="Запомнившиеся особенности отдыха в другой стране" ng-model="client.otherRestFeatures">
                                    </textarea>
                                </div>
                            </div>
                        </div>
                        <hr ng-if="client.earlyCountries.length">
                    </div>
                    <hr ng-if="client.countryErVis=='Нет'">
                </div>
                <div ng-if="client.dateShow||client.countryVisited">
                    <p><span class="client">{{client.firstName}}</span>, назовите, пожалуйста, ориентировочные даты предполагаемой поездки:</p>
                    <p>дата начала :
                        <input type="date" ng-model="client.tripStart" placeholder="Начало поездки">
                    </p>
                    <hr ng-if="client.tripStart">
                    <p ng-if="client.tripStart">дата окончания :
                        <input type="date" ng-model="client.tripEnd" placeholder="Окончание поездки">
                    </p>
                    <hr ng-if="client.tripEnd">
                    <p ng-if="client.tripEnd">На какое количество ночей?
                        <select ng-model="client.tripDuration" ng-options="item for item in client.peopleAmount"></select>
                    </p>
                    <hr ng-if="client.tripDuration">
                    <p ng-if="client.tripDuration">Сколько человек?
                        <select ng-model="client.quantity" ng-options="item for item in client.peopleAmount"></select>
                    </p>
                    <hr ng-if="client.quantity">
                    <p ng-if="client.quantity">Дети в поездке:
                        <label class="radio-inline">
                            <input type="radio" ng-model="client.hasChildren" name="clientChildren" value="Есть">Есть
                        </label>
                        <label class="radio-inline">
                            <input type="radio" ng-model="client.hasChildren" name="clientChildren" value="Нет">Нет
                        </label>
                    </p>
                    <hr ng-if="client.hasChildren">
                    <p ng-if="client.hasChildren=='Есть'">
                        Сколько детей:
                        <select ng-model="client.childrenQuantity" ng-options="item for item in client.childrenAmount" ng-change="client.setChildrenQuantity(client.childrenQuantity)"></select>
                    </p>
                    <hr ng-if="client.hasChildren=='Есть'">
                    <div ng-if="client.childrenQuantity&&client.hasChildren=='Есть'" class="row">
                        <div class="col-md-4" ng-repeat="child in client.setChildrenArray">
                            <p>Ребенок <span class="number">{{$index + 1}}</span>, возраст:
                                <select ng-model="client.childrenOlder[$index]" ng-options="item for item in client.peopleAmount" ng-change="client.countChildren($index,client.childrenOlder[$index],  client.childrenQuantity)"></select>
                            </p>
                        </div>
                    </div>
                    <hr ng-if="client.childrenListFlag">
                    <p ng-if="client.childrenListFlag">Проездные документы (паспорта) у детей (всех):
                        <label class="radio-inline">
                            <input type="radio" ng-model="client.childrenHasPassport" name="clientChildrenPassport" value="Есть">Есть
                        </label>
                        <label class="radio-inline">
                            <input type="radio" ng-model="client.childrenHasPassport" name="clientChildrenPassport" value="Нет">Нет
                        </label>
                    </p>
                    <hr ng-if="client.childrenHasPassport">
                    <p ng-if="client.childrenHasPassport">Разрешение на выезд у детей (нужно, если родители в разводе):
                        <label class="radio-inline">
                            <input type="radio" ng-model="client.childrenHasPermission" name="clientChildrenPermission" value="Есть">Есть
                        </label>
                        <label class="radio-inline">
                            <input type="radio" ng-model="client.childrenHasPermission" name="clientChildrenPermission" value="Нет">Нет
                        </label>
                        <label class="radio-inline">
                            <input type="radio" ng-model="client.childrenHasPermission" name="clientChildrenPermission" value="Не нужно">Не нужно
                        </label>
                    </p>
                    <hr ng-if="client.childrenHasPermission">
                </div>
                <div ng-if="client.hasChildren=='Нет'||client.childrenHasPermission">
                    <p>
                        Так, <span class="client">{{client.firstName}}</span>, давайте теперь определимся с деталями поездки.
                    </p>
                    <p>
                        Ваш предпочитаемый город вылета:
                    </p>
                    <p>
                        <label class="radio-inline">
                            <input type="radio" ng-model="client.cityFly" name="clientCityFly" value="Любой" ng-change="client.changeAirport()">Любой
                        </label>
                        <label class="radio-inline">
                            <input type="radio" ng-model="client.cityFly" name="clientCityFly" value="Выбрать">Выбрать
                        </label>
                    </p>
                    <hr ng-if="client.cityFly">
                    <div class="row" ng-if="client.cityFly=='Выбрать'">
                        <div class="col-sm-2 col-sm-offset-1">
                            <select size="7" multiple ng-change="toSelectAirport('Любой')" name="ports[]" ng-model="client.selectAirport" ng-options="port for port in airports">
                            </select>
                        </div>
                        <div class="col-xs-5">
                            <p class="text-info">
                                Чтобы выбрать (или удалить из выбранных),- кликайте по городам вылета с зажатой клавишей
                                <button type="button" class="btn btn-default">Ctrl</button>.
                                <br>Результат выбора можете посмотреть в блоке справа &rarr;
                            </p>
                        </div>
                        <div class="col-xs-2">
                            <ol>
                                <li ng-repeat="x in client.airports">{{x}}</li>
                            </ol>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <hr ng-if="client.selectAirport">
                    <p ng-if="client.airports.length||(client.cityFly=='Любой')">Есть предпочтения по регионам?
                        <br>
                        <label class="radio-inline">
                            <input type="radio" ng-model="client.regionFavorite" name="clientregionFavorite" value="Нет" ng-change="client.changeRegion()">Нет
                        </label>
                        <label class="radio-inline">
                            <input type="radio" ng-model="client.regionFavorite" name="clientregionFavorite" value="Есть">Есть
                        </label>
                    </p>
                    <hr ng-if="client.regionFavorite">
                    <div class="row" ng-if="client.regionFavorite=='Есть'">
                        <div class="col-sm-2 col-sm-offset-1">
                            <select size="7" multiple ng-change="toSelectRegion()" name="regions[]" ng-model="client.selectRegion" ng-options="item for item in client.region">
                            </select>
                        </div>
                        <div class="col-xs-5">
                            <p class="text-info">
                                Чтобы выбрать (или удалить из выбранных),- кликайте по регионам с зажатой клавишей
                                <button type="button" class="btn btn-default">Ctrl</button>.
                                <br>Результат выбора можете посмотреть в блоке справа &rarr;
                            </p>
                        </div>
                        <div class="col-xs-2">
                            <ol>
                                <li ng-repeat="x in client.countryRegions">{{x}}</li>
                            </ol>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <hr ng-if="client.selectRegion">
                    <div ng-if="client.regionFavorite">
                        <p><span ng-if="client.regionFavorite=='Есть'">Теперь</span><span ng-if="client.regionFavorite=='Нет'">Тогда</span> поговорим об отеле.</p>
                        <p>Уровень отеля:
                        </p>
                        <div class="row">
                            <div class="col-sm-1">
                                <label>2*
                                    <input type="checkbox" ng-model="hotelStar.value1" ng-true-value="'2*-1'" ng-false-value="'2*-0'" ng-change="toStar(hotelStar.value1, client.hotelStars)">
                                </label>
                            </div>
                            <div class="col-sm-1">
                                <label>3*
                                    <input type="checkbox" ng-model="hotelStar.value2" ng-true-value="'3*-1'" ng-false-value="'3*-0'" ng-change="toStar(hotelStar.value2, client.hotelStars)">
                                </label>
                            </div>
                            <div class="col-sm-1">
                                <label>4*
                                    <input type="checkbox" ng-model="hotelStar.value3" ng-true-value="'4*-1'" ng-false-value="'4*-0'" ng-change="toStar(hotelStar.value3, client.hotelStars)">
                                </label>
                            </div>
                            <div class="col-sm-1">
                                <label>5*
                                    <input type="checkbox" ng-model="hotelStar.value4" ng-true-value="'5*-1'" ng-false-value="'5*-0'" ng-change="toStar(hotelStar.value4, client.hotelStars)">
                                </label>
                            </div>
                            <div class="col-sm-7">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <label>Многоэтажный корпус
                                            <input type="checkbox" ng-model="hotelStar.value5" ng-true-value="'Многоэтажка-1'" ng-false-value="'Многоэтажка-0'" ng-change="toStar(hotelStar.value5, client.hotelStars)">
                                        </label>
                                    </div>
                                    <div class="col-sm-3">
                                        <label>HV (High village)
                                            <input type="checkbox" ng-model="hotelStar.value6" ng-true-value="'HV-1'" ng-false-value="'HV-0'" ng-change="toStar(hotelStar.value6, client.hotelStars)">
                                        </label>
                                    </div>
                                    <div class="col-sm-3">
                                        <label>Аппартаменты
                                            <input type="checkbox" ng-model="hotelStar.value9" ng-true-value="'Аппартаменты-1'" ng-false-value="'Аппартаменты-0'" ng-change="toStar(hotelStar.value9, client.hotelStars)">
                                        </label>
                                    </div>
                                    <div class="col-sm-3">
                                        <label>Бунгало
                                            <input type="checkbox" ng-model="hotelStar.value7" ng-true-value="'Бунгало-1'" ng-false-value="'Бунгало-0'" ng-change="toStar(hotelStar.value7, client.hotelStars)">
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-1">
                                <label>Вилла
                                    <input type="checkbox" ng-model="hotelStar.value8" ng-true-value="'Вилла-1'" ng-false-value="'Вилла-0'" ng-change="toStar(hotelStar.value8, client.hotelStars)">
                                </label>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <hr>
                        <div>
                            <p>Какая линия:</p>
                            <div class="row">
                                <div class="col-sm-2 col-sm-offset-2">
                                    <p>
                                        <label class="radio-inline">
                                            <input type="radio" ng-model="client.hotelLine" name="clienthotelLine" value="Без разницы">Без разницы
                                        </label>
                                    </p>
                                </div>
                                <div class="col-sm-2">
                                    <p>
                                        <label class="radio-inline">
                                            <input type="radio" ng-model="client.hotelLine" name="clienthotelLine" value="Первая линия">Первая линия
                                        </label>
                                    </p>
                                </div>
                                <div class="col-sm-2">
                                    <p>
                                        <label class="radio-inline">
                                            <input type="radio" ng-model="client.hotelLine" name="clienthotelLine" value="Вторая линия">Вторая линия
                                        </label>
                                    </p>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <hr ng-if="client.hotelLine">
                        <div ng-if="client.hotelLine">
                            <p>Тип отеля:</p>
                            <p>
                                <label>Тихий
                                    <input type="checkbox" ng-model="hotelType.value1" ng-true-value="'Тихий-1'" ng-false-value="'Тихий-0'" ng-change="toStar(hotelType.value1, client.hotelTypes)">
                                </label>
                            </p>
                            <p>
                                <label>Семейный
                                    <input type="checkbox" ng-model="hotelType.value2" ng-true-value="'Семейный-1'" ng-false-value="'Семейный-0'" ng-change="toStar(hotelType.value2, client.hotelTypes)">
                                </label>
                            </p>
                            <p ng-show="hotelType.value2=='Семейный-1'">
                                <label>Нужен детский клуб
                                    <input type="checkbox" ng-model="hotelType.value3" ng-true-value="'С детским клубом-1'" ng-false-value="'С детским клубом-0'" ng-change="toStar(hotelType.value3, client.hotelTypes)">
                                </label>
                            </p>
                            <p>
                                <label>Активный
                                    <input type="checkbox" ng-model="hotelType.value4" ng-true-value="'Активный-1'" ng-false-value="'Активный-0'" ng-change="toStar(hotelType.value4, client.hotelTypes)">
                                </label>
                            </p>
                            <p>
                                <label>Молодежный
                                    <input type="checkbox" ng-model="hotelType.value5" ng-true-value="'Молодежный-1'" ng-false-value="'Молодежный-0'" ng-change="toStar(hotelType.value5, client.hotelTypes)">
                                </label>
                            </p>
                            <p ng-hide="hotelType.value1=='Тихий-1'">
                                <label>Важна анимация
                                    <input type="checkbox" ng-model="hotelType.value6" ng-true-value="'Важна анимация-1'" ng-false-value="'Важна анимация-0'" ng-change="toStar(hotelType.value6, client.hotelTypes)">
                                </label>
                            </p>
                            <p ng-hide="hotelType.value1=='Тихий-1'">
                                <label>Важно наличие дискотеки
                                    <input type="checkbox" ng-model="hotelType.value7" ng-true-value="'Важна дискотека-1'" ng-false-value="'Важна дискотека-0'" ng-change="toStar(hotelType.value7, client.hotelTypes)">
                                </label>
                            </p>
                            <p>
                                <label>Важно наличие водных горок
                                    <input type="checkbox" ng-model="hotelType.value8" ng-true-value="'Важны горки-1'" ng-false-value="'Важны горки-0'" ng-change="toStar(hotelType.value8, client.hotelTypes)">
                                </label>
                            </p>
                        </div>

                    </div>
                    <hr ng-if="client.hotelLine">
                    <div ng-if="client.hotelLine">
                        <p><span class="client">{{client.firstName}}</span>, давайте резюмируем значимость отеля.
                        </p>
                        <p>
                            <label class="radio-inline">
                                <input type="radio" ng-model="client.hotelRate" name="clienthotelRate" value="первостепенен">Отель первостепенен. Отдых планируется, в основном, на территории отеля. Очень важна территория отеля, его инфраструктура, качество обслуживания, анимация и т. д.
                            </label>
                        </p>
                        <p>
                            <label class="radio-inline">
                                <input type="radio" ng-model="client.hotelRate" name="clienthotelRate" value="второстепенен">Отель второстепенен. Отдых планируется проводить на море, в экскурсиях, поездках. Сам отель нужен только для того, чтобы переночевать в нем.
                            </label>
                        </p>
                    </div>
                    <hr ng-if="client.hotelRate">
                    <div ng-if="client.hotelRate">
                        <p>
                            Отлично, <span class="client">{{client.firstName}}</span>, последний вопрос. Предполагаемая поездка для Вас это
                        </p>
                        <p>
                            <label class="radio-inline">
                                <input type="radio" ng-model="client.restMotivation1" name="clientRestMotiv" value="запланированный отдых" ng-change="client.selectMotiv(client.restMotivation1)">запланированный отдых.
                            </label>
                        </p>
                        <p>
                            <label class="radio-inline">
                                <input type="radio" ng-model="client.restMotivation1" name="clientRestMotiv" value="желание сменить обстановку" ng-change="client.Motiv(client.restMotivation1)">желание сменить обстановку.
                            </label>
                        </p>
                        <p>
                            <label class="radio-inline">
                                <input type="radio" ng-model="client.restMotivation1" name="clientRestMotiv" value="желание покоя, тишины" ng-change="client.selectMotiv(client.restMotivation1)">желание покоя, тишины.
                            </label>
                        </p>
                        <p>
                            <label class="radio-inline">
                                <input type="radio" ng-model="client.restMotivation1" name="clientRestMotiv" value="что-то другое" ng-change="client.selectMotiv(client.restMotivation1)">что-то другое.
                            </label>
                        </p>
                        <p ng-if="client.restMotivation1=='что-то другое'">
                            <textarea cols="60" rows="2" ng-model="client.restMotivation2" placeholder="Мотивация к отдыху" ng-change="client.selectMotiv(client.restMotivation2)"></textarea>
                        </p>{{client.restMotivation}}
                    </div>
                    <hr ng-if="client.restMotivation1">
                    <div ng-if="client.restMotivation1">
                        <p>Хорошо, <span class="client">{{client.firstName}}</span>, я услышала Ваши пожелания.</p>
                        <div class="row startData">
                            <div class="col-xs-10 col-xs-offset-1">
                                <textarea cols="140" rows="4" placeholder="Повторяем пожелания клиента, если нужно редактируем (их)" ng-model="client.wishes">
                                </textarea>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <p>Я сделаю подборку. Приходите завтра, к <span class="client">{{client.time}}</span> часам, в наш офис - улица Владимира Мономаха (бывшая Московская), 9, офис 2. Это в районе ЦУМа.</p>
                        <div class="row startData">
                            <div class="col-md-3 col-md-offset-9">
                                <button class="btn btn-block btn-warning" ng-click="goTable()">Посмотреть таблицу</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--////////////////////////////////////////////////////////////////////////////////////////////////////////-->
            <div class="row">
                <div class="col-sm-2 col-sm-offset-8">
                    <button class="btn-block btn-primary btn" ng-click="newStep()" ng-disabled="!(client.country&&client.gender&&client.lastName&&client.firstName)" ng-show="(!comf&&newClient==1)">Далее</button>
                </div>
                <div class="col-sm-2">
                    <button class="btn-block btn-warning btn" ng-click="oldStep()" ng-hide="newClient>1">Назад</button>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-footer panel-primary myFooter"><p class="text-right">БЮРО ПУТЕШЕСТВИЙ {{current.year}}</p></div>
</div>